[Unit]
Description=Lamma course seeker run

[Service]
Type=oneshot
WorkingDirectory=%h/Documents/lamma-course-seeker
ExecStart=/usr/bin/env npm run seek --silent
